In [9]:
import pandas as pd

# Lê o arquivo CSV com a codificação correta (pode ser 'latin1', 'iso-8859-1' ou outra)
df = pd.read_csv(r"C:\\Users\\claud\\OneDrive\\Área de Trabalho\\Iniciação Científica\\Chikunguya-CAPTO\\assets\\data\\ibge_cnv_sanmg143039177_182_62_236.csv", encoding='latin1', delimiter=';')

In [8]:
df.head()

,Município,Rede geral de esgoto ou pluvial - não discriminado,Fossa séptica - não discriminada,Fossa rudimentar - não discriminada,Vala - não discriminada,"Rio, lago ou mar",Outro escoadouro - não discriminado,Não tem instalação sanitária,Total,Unnamed: 9,Unnamed: 10
0,310010 ABADIA DOS DOURADOS,1320,94,770,15,68,28,19,2314.0,NaN,NaN
1,310020 ABAETE,6087,436,1093,8,17,7,56,7704.0,NaN,NaN
2,310030 ABRE CAMPO,1928,51,168,95,1513,158,17,3930.0,NaN,Instalações sanitárias - Minas Gerais
3,310040 ACAIACA,767,34,113,3,340,1,3,1261.0,NaN,Domicílios por Município e Instal.sanitárias (...
4,310050 ACUCENA,1189,180,251,75,1097,136,119,3047.0,NaN,Período:2010

In [14]:
# Separa 'Município' em duas novas colunas 'ID' e 'Municipio'
df[['ID', 'Municipio']] = df['Município'].str.split(" ", 1, expand=True)

C:\Users\claud\AppData\Local\Temp\ipykernel_33840\580439996.py:2: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  df[['ID', 'Municipio']] = df['Município'].str.split(" ", 1, expand=True)

In [15]:
df.head()

,Município,Rede geral de esgoto ou pluvial - não discriminado,Fossa séptica - não discriminada,Fossa rudimentar - não discriminada,Vala - não discriminada,"Rio, lago ou mar",Outro escoadouro - não discriminado,Não tem instalação sanitária,Total,ID,Municipio
0,310010 ABADIA DOS DOURADOS,1320,94,770,15,68,28,19,2314,310010,ABADIA DOS DOURADOS
1,310020 ABAETE,6087,436,1093,8,17,7,56,7704,310020,ABAETE
2,310030 ABRE CAMPO,1928,51,168,95,1513,158,17,3930,310030,ABRE CAMPO
3,310040 ACAIACA,767,34,113,3,340,1,3,1261,310040,ACAIACA
4,310050 ACUCENA,1189,180,251,75,1097,136,119,3047,310050,ACUCENA

In [16]:
# Removendo a coluna "Município"
df.drop('Município', axis=1, inplace=True)

In [17]:
df.head()

,Rede geral de esgoto ou pluvial - não discriminado,Fossa séptica - não discriminada,Fossa rudimentar - não discriminada,Vala - não discriminada,"Rio, lago ou mar",Outro escoadouro - não discriminado,Não tem instalação sanitária,Total,ID,Municipio
0,1320,94,770,15,68,28,19,2314,310010,ABADIA DOS DOURADOS
1,6087,436,1093,8,17,7,56,7704,310020,ABAETE
2,1928,51,168,95,1513,158,17,3930,310030,ABRE CAMPO
3,767,34,113,3,340,1,3,1261,310040,ACAIACA
4,1189,180,251,75,1097,136,119,3047,310050,ACUCENA

In [19]:
# Salva o DataFrame em um arquivo CSV
df.to_csv(r'C:\Users\claud\OneDrive\Área de Trabalho\Iniciação Científica\Chikunguya-CAPTO\assets\data\ibge_cnv_sanmg.csv', index=False, encoding='utf-8')